.cube {
  font-size: 4em;
  // width: 3em;
  margin: 1.5em auto;
  transform-style: preserve-3d;
  transform: rotateX(-60deg) rotateY(-30deg);
  transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1) ;
  &:hover {
    margin-top: -1rem;
    transform: rotateX(-50deg) rotateY(-20deg);
    .bottom {
      transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1) ;
      box-shadow: 62px 106.3px 11.8px -10px rgba(0, 0, 0, 0.088), 68.6px 117.7px 22.2px -10px rgba(0, 0, 0, 0.166),
        70.4px 120.7px 31.3px -10px rgba(0, 0, 0, 0.233), 70.7px 121.2px 39.8px -10px rgba(0, 0, 0, 0.291),
        70.5px 120.8px 51.4px -10px rgba(0, 0, 0, 0.353), 70px 120px 98px -10px rgba(0, 0, 0, 0.63);
    }
  }
}

.side {
  position: absolute;
  width: 2em;
  height: 2em;
  text-align: center;
  line-height: 2em;
}

.top {
  background: #1cce60;
  transform: rotateX(90deg) translateZ(1em);
}
.front {
  background: linear-gradient(180deg, #00a800 30%, #c84c0c 10%);
  transform: translateZ(1em);
}
.right {
  background: linear-gradient(180deg, #009700 30%, #ac3f09 10%);
  transform: rotateY(90deg) translateZ(1em);
}

.bottom {
  // background: black;
  transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1) ;
  transform: rotateX(90deg) translateZ(-1em);
    box-shadow:
    0.7px 0.7px 3.5px -2px rgba(0, 0, 0, 0.051),
    1.6px 1.6px 7.7px -2px rgba(0, 0, 0, 0.095),
    2.9px 3px 13.2px -2px rgba(0, 0, 0, 0.133),
    5.2px 5.3px 21.6px -2px rgba(0, 0, 0, 0.166),
    9.9px 10.1px 37.6px -2px rgba(0, 0, 0, 0.201),
    44px 45px 111px -2px rgba(0, 0, 0, 0.36)
  ;
 
}

// Tile Location
$offset-top: 200px;
$offset-left: -100px;
$tile-top: 70px;
$tile-left: 140px;
$third-row: 610px;
$third-col: 540px;
$fifth-row: 590px;
$fifth-col: -180px;
$seventh-row: 780px;
$seventh-col: -480px;

.img-1 {
  height: 80%;
}

.tile-1 {
  position: absolute;
  top: $offset-top;
  left: $offset-left;
  z-index: 1;
}

.tile-2 {
  position: absolute;
  top: calc($offset-top + $tile-top);
  left: calc($offset-left + $tile-left);
  z-index: 2;
}

.tile-3 {
  position: absolute;
  top: calc($offset-top + $tile-top * 2);
  left: calc($offset-left + $tile-left * 2);
  z-index: 3;
}

.tile-4 {
  position: absolute;
  top: calc($offset-top + $tile-top * 3);
  left: calc($offset-left + $tile-left * 3);
  z-index: 4;
}

.tile-5 {
  position: absolute;
  top: calc($offset-top + $tile-top * 4);
  left: calc($offset-left + $tile-left * 4);
  z-index: 5;
}
.tile-6 {
  position: absolute;
  top: calc($offset-top + $tile-top * 5);
  left: calc($offset-left + $tile-left * 5);
  z-index: 6;
}
.tile-7 {
  position: absolute;
  top: calc($offset-top + 480px);
  left: calc($offset-left + 620px);
  z-index: 7;
}
.tile-8 {
  position: absolute;
  top: calc($offset-top + $third-row);
  left: calc($offset-left + $third-col);
  z-index: 8;
}
.tile-9 {
  position: absolute;
  top: calc($offset-top + $third-row - $tile-top);
  left: calc($offset-left + $third-col - $tile-left);
  z-index: 7;
}
.tile-10 {
  position: absolute;
  top: calc($offset-top + $third-row - $tile-top * 2);
  left: calc($offset-left + $third-col - $tile-left * 2);
  z-index: 6;
}
.tile-11 {
  position: absolute;
  top: calc($offset-top + $third-row - $tile-top * 3);
  left: calc($offset-left + $third-col - $tile-left * 3);
  z-index: 5;
}
.tile-12 {
  position: absolute;
  top: calc($offset-top + $third-row - $tile-top * 4);
  left: calc($offset-left + $third-col - $tile-left * 4);
  z-index: 4;
}
.tile-13 {
  position: absolute;
  top: calc($offset-top + 460px);
  left: calc($offset-left + -100px);
  z-index: 8;
}
.tile-14 {
  position: absolute;
  top: calc($offset-top + $fifth-row);
  left: calc($offset-left + $fifth-col);
  z-index: 9;
}
.tile-15 {
  position: absolute;
  top: calc($offset-top + $fifth-row - $tile-top);
  left: calc($offset-left + $fifth-col - $tile-left);
  z-index: 8;
}
.tile-16 {
  position: absolute;
  top: calc($offset-top + 650px);
  left: calc($offset-left + -400px);
  z-index: 9;
}
.tile-17 {
  position: absolute;
  top: calc($offset-top + $seventh-row);
  left: calc($offset-left + $seventh-col);
  z-index: 10;
}
.tile-18 {
  position: absolute;
  top: calc($offset-top + $seventh-row + $tile-top);
  left: calc($offset-left + $seventh-col + $tile-left);
  z-index: 11;
}
.tile-19 {
  position: absolute;
  top: calc($offset-top + $seventh-row + $tile-top * 2);
  left: calc($offset-left + $seventh-col + $tile-left * 2);
  z-index: 12;
}
.tile-20 {
  position: absolute;
  top: calc($offset-top + $seventh-row + $tile-top * 3);
  left: calc($offset-left + $seventh-col + $tile-left * 3);
  z-index: 13;
}
.tile-21 {
  position: absolute;
  top: calc($offset-top + $seventh-row + $tile-top * 4);
  left: calc($offset-left + $seventh-col + $tile-left * 4);
  z-index: 14;
}
.tile-22 {
  position: absolute;
  top: calc($offset-top + 930px);
  left: calc($offset-left + 160px);
  z-index: 13;
}
.tile-23 {
  position: absolute;
  top: calc($offset-top + 1000px);
  left: calc($offset-left + 300px);
  z-index: 14;
}
.tile-24 {
  position: absolute;
  top: calc($offset-top + 1070px);
  left: calc($offset-left + 440px);
  z-index: 15;
}
.tile-25 {
  position: absolute;
  top: calc($offset-top + 1200px);
  left: calc($offset-left + 360px);
  z-index: 16;
}

// Tile

.map-center {
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.tile-container {
  position: relative;
}

.tile {
  width: 5rem;
  height: 5rem;
  margin: 0.1rem;
  padding: 0.5rem;
}

.active-tile {
  display: inline-block;
  background-color: green;
}

.inactive-tile {
  display: inline-block;
}

// Icon
.img-icon {
  width: 5rem;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.icon-active {
  filter: invert(12%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);
}
