// Cube 3D
// $box-side: rgba(255, 0, 0, 1)

// .cube-container {
//   display: inline-block;
//   margin: 1rem;
// }

.cube {
  font-size: 4em;
  width: 3em;
  margin: 1.5em auto;
  transform-style: preserve-3d;
  transform: rotateX(-60deg) rotateY(-30deg);
  transition: all transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;

  &:hover {
    margin-top: -1rem;
  }
}

.side {
  position: absolute;
  width: 2em;
  height: 2em;
  // border: 0px;
  text-align: center;
  line-height: 2em;
}

.top {
  background: #2e6299;
  transform: rotateX(90deg) translateZ(1em);
}
.front {
  // background: #143c66;
  background-image: linear-gradient(to top, rgba(150, 102, 102, 0), rgba(255, 0, 0, 1));
  transform: translateZ(1em);
}
.right {
  // background: #143c66;
  background-image: linear-gradient(to top, rgba(150, 102, 102, 0), rgba(255, 0, 0, 1));

  transform: rotateY(90deg) translateZ(1em);
}

// Tile Location
$tile-top: 70px;
$tile-left: 140px;
$third-row: 610px;
$third-col: 540px;
$fifth-row: 590px;
$fifth-col: -180px;
$seventh-row: 780px;
$seventh-col: -480px;

.tile-1 {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.tile-2 {
  position: absolute;
  top: calc($tile-top);
  left: calc($tile-left);
  z-index: 2;
}

.tile-3 {
  position: absolute;
  top: calc($tile-top * 2);
  left: calc($tile-left * 2);
  z-index: 3;
}

.tile-4 {
  position: absolute;
  top: calc($tile-top * 3);
  left: calc($tile-left * 3);
  z-index: 4;
}

.tile-5 {
  position: absolute;
  top: calc($tile-top * 4);
  left: calc($tile-left * 4);
  z-index: 5;
}
.tile-6 {
  position: absolute;
  top: calc($tile-top * 5);
  left: calc($tile-left * 5);
  z-index: 6;
}
.tile-7 {
  position: absolute;
  top: 480px;
  left: 620px;
  z-index: 7;
}
.tile-8 {
  position: absolute;
  top: calc($third-row);
  left: calc($third-col);
  z-index: 8;
}
.tile-9 {
  position: absolute;
  top: calc($third-row - $tile-top);
  left: calc($third-col - $tile-left);
  z-index: 7;
}
.tile-10 {
  position: absolute;
  top: calc($third-row - $tile-top * 2);
  left: calc($third-col - $tile-left * 2);
  z-index: 6;
}
.tile-11 {
  position: absolute;
  top: calc($third-row - $tile-top * 3);
  left: calc($third-col - $tile-left * 3);
  z-index: 5;
}
.tile-12 {
  position: absolute;
  top: calc($third-row - $tile-top * 4);
  left: calc($third-col - $tile-left * 4);
  z-index: 4;
}
.tile-13 {
  position: absolute;
  top: 460px;
  left: -100px;
  z-index: 8;
}
.tile-14 {
  position: absolute;
  top: $fifth-row;
  left: $fifth-col;
  z-index: 9;
}
.tile-15 {
  position: absolute;
  top: calc($fifth-row - $tile-top);
  left: calc($fifth-col - $tile-left);
  z-index: 8;
}
.tile-16 {
  position: absolute;
  top: 650px;
  left: -400px;
  z-index: 9;
}
.tile-17 {
  position: absolute;
  top: $seventh-row;
  left: $seventh-col;
  z-index: 10;
}
.tile-18 {
  position: absolute;
  top: calc($seventh-row + $tile-top);
  left: calc($seventh-col + $tile-left);
  z-index: 11;
}
.tile-19 {
  position: absolute;
  top: calc($seventh-row + $tile-top * 2);
  left: calc($seventh-col + $tile-left * 2);
  z-index: 12;
}
.tile-20 {
  position: absolute;
  top: calc($seventh-row + $tile-top * 3);
  left: calc($seventh-col + $tile-left * 3);
  z-index: 4;
}
.tile-21 {
  position: absolute;
  top: calc($seventh-row + $tile-top * 4);
  left: calc($seventh-col + $tile-left * 4);
  z-index: 5;
}
.tile-22 {
  position: absolute;
  top: 930px;
  left: 160px;
  z-index: 4;
}
.tile-23 {
  position: absolute;
  top: 1000px;
  left: 300px;
  z-index: 4;
}
.tile-24 {
  position: absolute;
  top: 1070px;
  left: 440px;
  z-index: 4;
}
.tile-25 {
  position: absolute;
  top: 1200px;
  left: 360px;
  z-index: 4;
}

// Tile

.map-center{
  display: flex;
  width: 80vw;
  height: 100vh;
  justify-content: center;
}
.tile-container {

  position: relative;
  margin-left: 500px;
  justify-content: center;
  // perspective: 800px;
  // transform: perspective(800px) rotateX(30deg);
  // transform: rotateX(90deg) translateZ(1em);
}

.tile {
  width: 5rem;
  height: 5rem;
  margin: 0.1rem;
  padding: 0.5rem;
  // border-radius: 0.5rem;
}

.active-tile {
  display: inline-block;
  background-color: green;
}

.inactive-tile {
  display: inline-block;
}

// Icon
.img-icon {
  width: 5rem;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.icon-active {
  filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);
}
